.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--overlay-background);
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.content {
	width: 500px;
	height: 289px;
	background-color: var(--page-background);
	border: 1px solid var(--modal-border);
	padding: 20px 30px;
	margin-top: 7rem;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	padding: 20px;
}

.modal__header {
	font-weight: 500;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.modal__btnContainer {
	display: flex;
	justify-content: space-between;
}

.modal__input {
	background-color: transparent;
}

.modal__btnContainer button {
	width: 110px;
	height: 38px;
	padding: 10px 22px 10px 22px;
}

.modal__btnCancel {
	color: var(--text-btn-secondary);
	border: 1px solid var(--btn-border);
	background-color: transparent;
}

.modal__btnCancel:hover {
	background-color: var(--btn-secondary-hover-background);
}

.modal__btnApply {
	color: var(--text-btn);
	border: none;
}

@media (max-width: 768px) {
	.content {
		width: 90vw;
		height: 220px;
	}
}
