/*************************************/
/* ----------- SearchBar ----------- */
/*************************************/

.searchbBar {
	height: 38px;
	width: 100%;
	display: flex;
	gap: 1rem;
}

/*************************************/
/* ------- SearchBar Input ---------*/
/*************************************/

.searchbBar__input {
	background: var(--search-icon) no-repeat right;
	background-size: 21px;
	background-position-x: 98%;
	display: flex;
	align-items: center;
	margin-left: auto;
}

/* remove x symbol from input field */
.searchbBar__input[type="search"]::-webkit-search-decoration,
.searchbBar__input[type="search"]::-webkit-search-cancel-button,
.searchbBar__input[type="search"]::-webkit-search-results-button,
.searchbBar__input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

/*************************************/
/* ------ SearchBar Buttons ------- */
/*************************************/

.searchbBar__btnFilters {
	font-family: var(--font-primary);
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	text-align: left;
	background-color: var(--btn-background);
	color: var(--text-btn);
	width: auto;
	height: 38px;
	padding: 0 10px;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	box-shadow: 0 0 2px var(--btn-shadow);
	transition: 0.2s ease-in;
}

.searchbBar__btnFilters:hover {
	background-color: var(--btn-hover-background);
}

.searchbBar__btnFilters:focus {
	background-color: var(--btn-hover-background);
	outline: 2px solid var(--btn-border);
}

.searchbBar__btnFiltersOption {
	font-family: var(--font-primary);
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
	color: var(--purple);
	background-color: var(--white);
	width: 93px;
	height: 38px;
}

/*************************************/
/* --------- Media Queries --------- */
/*************************************/

@media (max-width: 768px) {
	.searchbBar {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		gap: 0;
	}
	.searchbBar__btnFilters {
		margin-top: 0.5rem;
		justify-self: start;
		align-self: start;
	}
}
