.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* ---- Dark Theme ---- */

body.dark,
.dark * {
	--text: var(--white);
	--text-input: var(--white);
	--text-placeholder: var(--gray-dark);
	--text-completed: var(--white-transparent);
	--page-background: var(--black);
	--btn-secondary-hover-background: var(--purple-dark);
	--input-border: var(--white);
	--input-shadow: var(--gray);

	--search-icon: url("./images/search-icon-dark.svg");
	--dark-mode-icon: url("./images/btn-light-mode.svg");
	--emptyList-icon: url("./images/detective-check-dark-mode.svg");
}
